body{
  margin:0 auto;
  height:2000px;
  font-family: 'Inter', Sans-serif;
  font-weight:300;
}

h1,h2{
  font-weight:500;
}

.content{
  margin: 0 20px
}

pre{
  background:#fafafa;
  padding:15px;
  border:1px solid #ccc;
  white-space: pre-wrap;    
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  word-wrap: break-word;
}
